@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

.header{
    width: 100vw;
    height: 25vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border:2px solid white;
    background:url("https://images.pexels.com/photos/36487/above-adventure-aerial-air.jpg");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    box-shadow:2px 2px 3px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rubik";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    animation: imageSwipe 10s infinite ease-in-out ;
    transition: all 500ms;
}
.header > .btn_span > input[type="text"]{
    border: 2px solid rgb(38, 37, 37);
    padding: 0.2em;
    width: 70vw;
    height: 6vh;
    outline: none;
    text-transform: capitalize;
    font-size: 1rem;
}
.header > .btn_span{
    box-shadow:2px 2px 10px rgb(27, 27, 47);
    width: max-content;
    background: #000;
}
.header > .btn_span > button{
    padding: 0.4em;
    height: 6vh;
    font-weight: bold;
    font-size: 1em;
    background: black;
    color: white;
    border: none;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    
}
.header > .btn_span > button:hover{
    background: rgb(65, 65, 65);
}

@keyframes imageSwipe {
    0%{
        background: url(https://images.pexels.com/photos/36487/above-adventure-aerial-air.jpg);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
    }
    20%{
        background: url(https://images.pexels.com/photos/192136/pexels-photo-192136.jpeg);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
    }
    40%{
        background: url(https://images.pexels.com/photos/1353938/pexels-photo-1353938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
    }
    60%{
        background: url(https://images.pexels.com/photos/440731/pexels-photo-440731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
    }
    80%{
        background: url(https://images.pexels.com/photos/37403/bora-bora-french-polynesia-sunset-ocean.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
    }
    100%{
        background: url(https://images.pexels.com/photos/37403/bora-bora-french-polynesia-sunset-ocean.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
    }
    
}